@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*=================== element selector ===============*/
ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 80px;
    font-weight: 800;
}
h1 span{
    color: #FFC358;
}

h2 {
    font-size: 65px;
    font-weight: 600;
}
h2 span {
    color: #FFC358;
}

h3 {
    font-size: 66px;
    font-weight: 500;
}

h4 {
    font-size: 58px;
    font-weight: 400;
}

h5 {
    font-size: 50px;
    font-weight: 300;
}

h6 {
    font-size: 42px;
    font-weight: 250;
}

p {
    font-size: 20px;
}

/*===================== Common Class ====================*/
.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: 0 15px;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.3%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}

.col-16 {
    width: 16.66%;
}

.col-14 {
    width: 14.28%;
}

.col-12 {
    width: 12.5%;
}

.common_padding {
    padding: 100px;
}

.button {
    background-color: white;
    /* color: #FFC358; */
    border-radius: 35px;
    padding: 8px 15px;
    border: 1px solid #FFC358;
    width: 180px;
}
.button p{
    display: flex;
        align-items: center;
        justify-content: space-between;
}
.button i{
    font-size: 45px;
    transform: rotate(45deg);
}



/* topbar part */
.topbar {
    background-color: black;
    color: white;
    padding: 12px 0;
    border-radius: 30px;
    margin: 3px 0;
}

.topbar p {
    padding: 0 10px;
    font-size: 18px;
}

.topbar i {
    color: rgb(164, 157, 10);
}

.topbar_content,
.topbar_contact,
.topbar_dropdown {
    display: flex;
    justify-content: space-between;
}

/*===================== navbar part ====================== */
.navbar {
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    padding: 8px;
    width: 85%;
}

.navbar_brand,
.navitems,
.navlist {
    display: flex;
}

.navlist li a {
    padding: 8px 20px;
    color: white;
    font-size: 20px;
}

.navlist li a:hover {
    box-shadow: 2px 2px 5px white;
    border-radius: 25px;
}

.nav_contact {
    color: rgb(227, 206, 12);
    background-color: black;
    border-radius: 30px;
    width: 180px;
}

.nav_contact p {
    padding: 20px 10px;
}


/* banner part */

.banner_section {
    background-image: url(../img/bannerImage-house-model.png);
    background-color: rgba(19, 19, 19, 0.40);
    background-blend-mode: darken;
    /* height: calc(100vh - 115px); */
    height: 1076px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_text {
    width: 700px;
    padding-top: 130px;
    color: white;
}

.banner_text p {
    margin: 15px 5px;
}

.banner_text h1 span {
    color: #FFC358;
}

#button {
    margin-top: 120px;
    margin-bottom: 120px;
}

.banner_bottom {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);

    padding: 10px;
    height: 200px;
    
}

.banner_bottom_text {
    display: flex;
    padding: 10px;
}

.banner_bottom_text a {
    color: #FFC358;
    padding: 0 10px;
    font-size: 25px;
    padding-bottom: 50px;
}


.banner_content_box{
    width: 100%;
    display: flex;
    /* font-size: 25px; */
    /* gap: -5px; */
}

.bottom_content1{
    width: 72%;
   text-align: center;
   gap: -5px;
}
.bottom_content1 b{
    color: #FFC358;
}
.bottom_content1 p{
    color: white;
}


/* =================================================================================== */
.hr::before{
    content: "";
}


.bottom_content2{
    width: 28%;
    position: relative;
    
}
.bottom_content2 p{
    width: 30%;
    padding: 10px;
    color: #FFC358;
    background-color: black;
    border-radius: 25px;
    
    position: absolute;
    top: -50%;
    left: 50%;
}

/*===================== demo-project part ==================*/
#button{
    margin-top: 70px;
}
#siz37{
    font-size: 37px;
    font-weight: 700;
    margin: 10px;
}

.demo_content .card{
    border: 1px solid #FFC358;
    border-radius: 25px;
    padding: 15px;
    margin: 20px;
}
.demo_content figure img{
    border-radius: 25px;
}

.card_content{
    width: 80%;
}

.card_content > p{ 
    margin: 10px;
}
.circle{
    font-size: 70px;
    transform: rotate(45deg) translate();
}